icraftsoft-ws-users-management/src/main/mule/icraftsoft-users-management.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
   
     <flow name="wsdl-raml-main">
        <http:listener config-ref="wsdl-raml-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="wsdl-raml-config" />
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="1ba4c63e-a6f3-4593-8dcb-90287136446f" type="ANY">
				<flow-ref doc:name="errorHandler Flow " doc:id="13d774bb-53f2-476b-a448-c2ac42cec7af" name="errorHandler"/>
			</on-error-propagate>
        </error-handler>
    </flow>
    <flow name="wsdl-raml-console">
        <http:listener config-ref="wsdl-raml-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="wsdl-raml-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
				<flow-ref doc:name="errorHandler Flow" doc:id="195fcc39-6759-466d-a781-632be1d6218c" name="errorHandler"/>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\users\(userid):application\json:wsdl-raml-config">
		<flow-ref doc:name="updateUser Flow" doc:id="1d986c00-182e-4aa3-b3c9-4cc591d1c1b3" name="updateUser-Sub_Flow"/>
    </flow>
    <flow name="get:\users:wsdl-raml-config">
		<flow-ref doc:name="getAllUsers Flow" doc:id="7cc16726-f653-49e8-a98f-12a9f9686e2f" name="getAllUsers-Sub_Flow"/>
    </flow>
    <flow name="get:\users\(userid):wsdl-raml-config">
		<flow-ref doc:name="getUser Flow " doc:id="b9d6f78c-f876-4966-98f4-61173d54db98" name="getUser-Sub_Flow"/>
    </flow>
    <flow name="post:\users:application\json:wsdl-raml-config">
		<flow-ref doc:name="createUser Flow " doc:id="005ea1c0-f7a7-44f0-82c0-0e784f714231" name="createUser-Sub_Flow"/>
    </flow>
	<flow name="delete:\users\(userid):wsdl-raml-config">
		<flow-ref doc:name="deleteUser Flow " doc:id="af58f61b-e8a7-45ed-a4f2-cffff5764c8a" name="deleteUser-Sub_Flow"/>
    </flow>
</mule>
